
<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
    <title>RSS Feeds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="assets/css/bootstrap.3.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    
    <div class="container">
		<h1>RSS Feeds</h1>
		<div class="feeds row">
			{% for item in items %}
			<div class="feed col-lg-2">
				<a href="{{ item.get_link() }}">
				<div class="feed-content" data-trigger="hover" data-html="true" data-content="{{ item.get_description()|striptags('<a><p><strong><b><emphasis><i>')|dQ }}" data-title="{{ item.get_title() }}" data-container="body" data-placement="auto">
					<img class="img-responsive" src="{{ item.get_image() }}">
					<!--<p class="feed-description">{{ item.get_description()|striptags('<a><p><strong><b><emphasis><i>') }} <a href="{{ item.get_link() }}" target="_blank">Read More</a></p>
				
					<p class="meta">{% if item.get_author() %}By {{ item.get_author() }}{% endif %} On {{ item.get_date() }} - From <a href="{{ item.get_feed().get_link() }}" target="_blank">{{ item.get_feed().get_title() }}</a></p>-->
				</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.3.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <script>
    	$(function()
    	{
    		$(".feed-content").popover();
    	});
    </script>
  </body>
</html>